node_modules/
.env
chave-api.txt

01-AIzaSyBzyds-YZY94vzgle7LnIoQF2jDX4TEbpU

#usauário do mongoDB
(MarcelSilva - Silva065@)
mongodb+srv://MarcelSilva:<db_password>@cluster0.4b7fu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

